<div>
  <mat-form-field>
    <input matInput #usernameInput placeholder="username">
  </mat-form-field>
  <button type="button" (click)="searchUsername(usernameInput.value); usernameInput.value=''">search</button>
</div>
