<h2>this is findagame</h2>

<search-bar (newFriendEvent)="addFriend($event)"></search-bar>

<friends-list-display [friendsList]="this.friendsList"></friends-list-display>

<shared-games [sharedGames]="this.sharedGames"></shared-games>

<p>that was findagame</p>
