<ul id="cardList">
  <li *ngFor="let game of sharedGames">
    <mat-card class="gameCard">
      <mat-card-title-group>
	<img *ngIf="game.img_icon_url"
	     class="cardAvatar"
	     alt="steam's default logo for {{ game.name }}"
	     src="http://media.steampowered.com/steamcommunity/public/images/apps/{{game.appid}}/{{game.img_icon_url}}.jpg" />
	<mat-card-title>{{ game.name }}</mat-card-title>
      </mat-card-title-group>
    </mat-card>
  </li>
</ul>
