#cardList {
    display: grid;
    grid-template-columns: repeat(auto-fill, 256px);
    grid-gap: 10px;
    list-style-type: none;
}

.matCardTitle {
    font-size: 12px;
    font-weight: 400;
}

.cardAvatar {
    width: 32px;
    height: 32px;
}
